<!-- report.html -->

<h2>Доходы:</h2>
{% for income in incomes %}
    <p>{{ income.name }} - {{ income.amount }} - {{ income.timestamp|date:"DATETIME_FORMAT" }}</p>
{% empty %}
    <p>Нет данных о доходах.</p>
{% endfor %}

<a href="{% url 'add_income' %}">Добавить доход</a>

<h2>Расходы:</h2>
{% for expense in expenses %}
    <p>{{ expense.name }} - {{ expense.amount }} - {{ expense.timestamp|date:"DATETIME_FORMAT" }}</p>
{% empty %}
    <p>Нет данных о расходах.</p>
{% endfor %}

<a href="{% url 'add_expense' %}">Добавить расход</a>

<a href="{% url 'report' %}">Отчёт</a>
