<!-- report.html -->

<form method="get" action="{% url 'report' %}">
    {{ form.as_p }}
    <button type="submit">Применить фильтр</button>
</form>

<h2>Доходы:</h2>
{% for income in incomes %}
    <p>{{ income.name }} - {{ income.amount }} - {{ income.timestamp }}</p>
{% empty %}
    <p>Нет данных о доходах.</p>
{% endfor %}

<h2>Расходы:</h2>
{% for expense in expenses %}
    <p>{{ expense.name }} - {{ expense.amount }} - {{ expense.timestamp }}</p>
{% empty %}
    <p>Нет данных о расходах.</p>
{% endfor %}
<a href="{% url 'index' %}">Вернутся на главную</a>